{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}
<div class="container ">

    <div class="row my-3">
    <div class=" col-9 event-list border">

        <div class="search-area my-3">
            <div class="search-box  mx-auto text-center ">
                <form method="get" action="" class="d-flex">
                    <input type="search" name="search_q" placeholder="Search Event" class="form-control" id="">
                    <button type="submit" class="btn btn-secondary ml-3"><i class="fa-solid fa-magnifying-glass-location d-inline "></i>Search</button>
                </form>
            </div>
        </div>

        {% for event in events %}
        <div class="card p-2 my-2 shadow-sm ">
            <div class="card-body row">

                <div class="col-8 left">
                    <h2 class="card-title">
                        {{ event.title }}</h2>
                    <p class="card-text">
                        <i class="fa-solid fa-map-location-dot"></i> {{ event.venue }}
                    </p>
                    <p>
                        <i class="fa-solid fa-calendar-alt"></i> Date: {{ event.date|date:"F d, Y" }}
                    </p>
                    <p>
                        <i class="fa-solid fa-clock"></i> Duration: {{ event.duration }} Days
                    </p>
                    <p>
                        <i class="fa-solid fa-user-gear"></i> Author : {{event.author|upper}}
                    </p>
                    <a href="{% url 'event_details' event.id %}" class="btn btn-primary btn-sm">View Details</a>  &nbsp;
                    <!-- <button class="b btn-sm"> -->
                        {% if request.user in event.participants.all %}
                        <i class="fa-solid fa-circle-check"></i>
                        {% endif %}
                    <!-- </button> -->
                </div>
                <div class="col-4 right text-center d-flex flex-column" style="height: 200px; width:200px;">
                    <img src="{% static './images/flag.jpg' %}" class="w-100 h-100 contain " alt="">
                    <h1 class="">
                        {% if not event.is_full %}
                        {{event.participants.all|length}} 
                        {% else %}
                         <span class="bg-danger p-2 text-white ">Full</span>
                         {% endif %}
                    </h1>
                </div>
            </div>
        </div>
        {% empty %}
        <h3 class="text-muted py-5">No Event Available</h3>
        {% endfor %}



        <nav aria-label="Page navigation example ">
            <ul class="pagination ">
                {% if events.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{events.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %}
                {% for page_num in events.paginator.page_range %}
                {% if page_num == events.number %}
                <li class="page-item"><a class="page-link disabled" >{{page_num}}</a></li>
                {% else %}
                <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
               
                {% endif %}
                {% endfor %}

                {% if events.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{events.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>


    </div>

    <div class="col-3">
        <div class="card rounded-0 p-3">
            <h3 class="card-header bg-primary text-white">Category</h3> 
            <ul class="list-group list-group-flush ">
                <li class="list-group-item">
                    <a href="{% url 'home' %}" class="d-flex justify-content-between">
                        <span>All Event </span>
                        <span class="badge badge-secondary text-white "> {{ total }}</span>
                    </a>
                </li>
                {% for category in categories %}
                <li class="list-group-item">
                    <a href="?category={{category.id}}" class=" d-flex justify-content-between">
                         <span>{{ category.name }}</span> 
                         <span class="badge badge-secondary text-white ">{{ category.events.count }}</span> 
                        </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>

{% endblock %}